.container {
  overflow: hidden;
  min-height: 100vh;
  background: radial-gradient(red 20%, blue);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container h1 {
  font-size: 4rem;
  margin: 2rem 0;
}
.container .asks {
  background-color: rgba(255 255 255 / 0.35);
  padding: 3rem 6rem;
  border-radius: 1rem;
}
.container .asks .p {
  width: 100%;
  text-align: center;
  margin: 1rem 0;
  font-size: 1.7rem;
}
.container .asks .ques .inp {
  width: 100%;
  margin: 1.5rem 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 0.7rem;
}
.container .asks .ques .inp label {
  font-size: 1.5rem;
  margin-right: 1.5rem;
  font-weight: 800;
}
.container .asks .ques .inp input {
  background-color: transparent;
  border: none;
  outline: 1.5px solid transparent;
  font-size: 2.1rem;
  padding: 0.5rem 1rem;
  border-radius: 3px;
}
.container .asks .ques .inp input::placeholder {
  color: whitesmoke;
}
.container .asks .ques .inp input:hover,
.container .asks .ques .inp input:active,
.container .asks .ques .inp input:focus {
  outline: 1.5px solid blue;
}
.container .asks button {
  float: right;
  margin: 1rem 0;
  padding: 0.75rem 1.5rem;
  border-radius: 3px;
  cursor: pointer;
}
.container .asks .gen .inp {
  border: 1.5px solid black;
  border-radius: 3px;
  padding: 0.5rem 1rem;
}
.container .asks .gen .inp label {
  font-size: 1.75rem;
  font-weight: bold;
}
.container .asks .gen .inp textarea {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1.7 rem;
  padding: 0.5rem 1rem;
  border-radius: 3px;
}
.container .asks .gen .inp textarea::placeholder {
  color: whitesmoke;
}
.container .asks .addBtn {
  margin: 1rem 0;
  width: max-content;
  font-size: 1.5rem;
  background-color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 3px;
  cursor: pointer;
}
.container .asks .objectives .inp {
  display: flex;
  align-items: flex-start;
  margin: 2rem 0;
}
.container .asks .objectives .inp label {
  font-size: 1.75rem;
  margin-right: 1rem;
}
.container .asks .objectives .inp textarea {
  padding: 1rem 2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
