.about {
  margin-top: var(--navHeight);
  overflow: hidden;
}
.about *.active {
  transition: opacity 0.3s linear, translate 0.3s linear;
}
.about .cont {
  min-height: calc(100dvh - var(--navHeight));
  height: max-content;
  background-color: #d4c2be;
  padding: 3vmax;
  display: flex;
}
.about .cont .left {
  width: 40%;
}
.about .cont .left img {
  height: calc(90dvh - 6vmax);
}
.about .cont .right {
  translate: 0 10%;
  width: 60%;
  padding: 0 2vmax;
  display: grid;
  place-content: center;
  opacity: 0;
}
.about .cont.active .right {
  translate: 0 0;
  opacity: 1;
}
.about .cont .right h2 {
  font-size: 3.7vmax;
  margin: 2vmax 0;
}
.about .cont .right p {
  font-size: 1.72vmax;
  color: #606060;
}
.about .cont .right button {
  outline: none;
  border: none;
  width: max-content;
  margin: 1vmax;
  cursor: pointer;
  color: saddlebrown;
  font-size: 2rem;
  background-color: transparent;
}
.about .cont .right button:hover {
  font-size: 2.2rem;
  text-decoration: underline;
}
.about .who {
  height: max-content;
  max-width: 100rem;
  margin: 4vmax auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3vmax 4vmax;
  border-radius: 10px;
  translate: -10% 0;
  opacity: 0;
}
.about .whos .who.active {
  translate: 0 0 !important;
  opacity: 1;
}
.about .who.right {
  translate: 10% 0;
  text-align: right;
  background-color: #d5dee7;
  border: 1px solid #9ab6d2;
}
.about .who .stickyLeft h1 {
  position: sticky !important;
  top: 6rem !important;
  font-size: 3.7vmax;
}
.about .who .caption {
  font-size: 1.5vmax;
  color: #606060;
}
.about .join {
  padding: 2vmax 4vmax;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #aeaeae;
}
.about .join h2 {
  font-size: 2vmax;
  margin: 1vmax 0;
}
.about .join p {
  color: #606060;
  font-size: 1vmax;
}
.about .join .aboutRegis {
  color: #d1a976;
  font-size: 1.4vmax;
  padding: 0.7vmax 2.4vmax;
  border: 1px solid saddlebrown;
  background-color: #d1aa762e;
  outline: none;
  border-radius: 0.7vmax;
  margin: 1.5vmax;
  cursor: pointer;
}
@media only screen and (max-width: 720px) {
  .about .cont .right {
    width: 80%;
  }
  .about .cont .right h2 {
    font-size: 5vmin;
  }
  .about .who {
    max-width: 90vw;
  }
  .about .who .stickyLeft h1 {
    font-size: 5vmin;
  }
  .about .who .caption {
    font-size: 2.9vmin;
  }
}
